.header-nav-container {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0c4032;
  padding: 20px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: 500px) {
  .header-nav-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}